.profile__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 50%;
}

@media (max-width: 420px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-top: 7px;
    }
}