.profile__avatar-container {
    position: relative;
    display: block;
    cursor: pointer;
}

.profile__avatar-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    background-image: url(../../../images/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.profile__avatar-container:hover::after {
    opacity: .8;
}